Source: openmediavault-teamspeak3
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.3

Package: openmediavault-teamspeak3
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.5.34)
Description: OpenMediaVault TeamSpeak 3 plugin
 Communication system.
