Source: openmediavault-teamspeak3
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: gaming

Package: openmediavault-teamspeak3
Architecture: all
Depends: telnet,
         rsync,
         openmediavault (>= 3.0),
         curl,
         unzip,
         ${misc:Depends}
Description: OpenMediaVault TeamSpeak 3 plugin
 TeamSpeak is software for quality voice communication via the Internet. 
 The software is free of charge to non-profit entities.
