Source: openmediavault-teamspeak3
Section: net
XB-Plugin-Section: gaming
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9 )
Standards-Version: 3.9.3

Package: openmediavault-teamspeak3
Architecture: all
Depends: openmediavault (>= 0.6),
         telnet, 
         rsync,
         curl,
         ${misc:Depends}
Description: OpenMediaVault TeamSpeak 3 plugin
 TeamSpeak is software for quality voice communication via the Internet. 
 The software is free of charge to non-profit entities.
 

